body {
    background-image: linear-gradient(to bottom right, white, black);
    color: white;
    margin: 0 auto;
    margin-top: 25%;
    text-align: center;
    margin: 0
}

.quiz-container {
    border: 1px solid white; 
    border-radius: 20px;
    box-shadow: 10px ;
    width: 50%;
    height: 50%;
}

