body {
    background-image: linear-gradient(to bottom right, #045174, 
    black);
    color: white;
    margin: 0;
    padding: 0;
}
.padding {
    padding: 15px;
}

h1 {
    color: #E87A00;
    font-size: 50px;
    font-family: 'pixelify Sans', 'Times New Roman', serif;
    text-align: center;
}

.container {
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #fff;
    width: 80%;
    margin: 150px auto;
    padding: 25px;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.questions {
    color: #D89C60;
    font-size: 25px;
}

.answerButton {
   color: #001F3D;
   width: 100%;
   border: 1px solid #E87A00;
   border-radius: 5px;
   margin: 10px auto;
}

.answerButton:hover {
    background: linear-gradient(0.25turn,#E87A00, #fff);
}